.admin-wrapper 
    background: var(--bg-color)
    width: clamp(100vw, 100%, 100%)
    min-height: 100vh

.admin-container
    color: var(--text)
    font-family: var(--font-family)


@media screen and (min-width: $screen-lg) 
    .admin-container
        padding-left: var(--drawer-width)
